:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --darkBlue: hsl(213, 19%, 18%);
    --darkBlueOpacity: hsla(213, 19%, 18%, .7);
    --veryDarkBlue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
    color: var(--white);
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 1.3rem;
    padding: 1rem 0;
}

.container {
    width: 20rem;
    height: 20rem;
    padding: 1.25rem;
    background: var(--darkBlueOpacity);
    border-radius: 1rem;
}

.star-image {
    width: .7rem;
}

.border-radius-wrapper {
    width: 2rem;
    height: 2rem;
    background-color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

p {
    color: var(--lightGrey);
    font-weight: 400;
    font-size: 14px;
}

.submit {
    background-color: var(--orange);
    color: var(--white);
    width: 100%;
    height: 2.5rem;
    border-radius: 2rem;
    letter-spacing: .1rem;
    font-weight: 700;
    border: 0;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.submit:hover {
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
    transition: background-color .5s;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

ul,
li,
button {
    font-family: inherit;
    font-size: 1rem;
}

.btn {
    background-color: var(--darkBlue);
    width: 2.5rem;
    height: 2.5rem;
    color: var(--lightGrey);
    border: none;
    border-radius: 50%;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--lightGrey);
    cursor: pointer;
}

.btn:focus {
    background-color: var(--orange);
    color: var(--white);
}

.thank-you {
    display: none;
}

.rating-menu {
    display: block;
}

h2 {
    display: flex;
    margin-top: 1rem;
    margin-bottom: .5rem;
    justify-content: center;
}

.thanks-paragraph {
    text-align: center;
}

.thank-you-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-top: .5rem;
}

.user-rating {
    color: var(--orange);
    background-color: var(--darkBlue);
    margin: 2rem 3.5rem 0 3.5rem;
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    padding: 0.25rem 0;
}

span {
    margin: 0 0.25rem;
}

@media only screen and (min-width: 1440px) {
    .container {
        width: 23rem;
        height: 22rem;
        padding: 2rem;
        background: var(--darkBlueOpacity);
        border-radius: 1rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    p {
        font-size: 15px;
    }
}